<div class="container">
    <div class="d-flex justify-content-between my-3 ms-3">
        <div>
            <h4 class="client mb-0">Employee Details</h4>
            <nav>
                <a routerLink="/employ" class="text-decoration-none font-14 text-black mb-2">Employee List /Employee
                    Details</a>
            </nav>
        </div>
        <div>
            <button routerLink="./editemploy" type="button" class="btn mt-2 btn-outline-secondary"><i
                    class="bi bi-pencil px-1"></i>
                Edit</button>
        </div>
    </div>
    <div class="bg-card col-6 col-md-12 col-lg-12 p-2 ms-2">
        <div class="d-flex">
            <div class="pt-2 px-2">
                <img src="assets/images/employee.png" alt="employee Logo" class="logo" />
            </div>
            <div class="font-16 mx-4">
                <div class="pt-2">
                    <p class="font-color-14 mb-0">Employee Name</p>
                    {{ employ.name}}
                </div>
                <div class="pt-4">
                    <p class="font-color-14 mb-0">Employee ID</p>
                    {{ employ.id}}
                </div>
                <div class="pt-4">
                    <p class="font-color-14 mb-0">Status</p>
                    {{ employ.status}}
                </div>
            </div>
            <div class="px-4 font-16 mx-4">
                <div class="pt-2">
                    <p class="font-color-14 mb-0">Email ID</p>
                    {{employ.email }}
                </div>
                <div class="pt-4">
                    <p class="font-color-14 mb-0">Location</p>
                    {{employ.location }}
                </div>

                <div class="pt-4">
                    <p class="font-color-14 mb-0">Joining Date</p>
                    {{ employ.join }}
                </div>
            </div>
            <div class="px-4 font-16 mx-4">
                <div  class="pt-2">
                    <p class="font-color-14 mb-0">Designation</p>
                    {{ employ.designation}}
                </div>

                <div class="pt-4">
                    <p class="font-color-14 mb-0">Position</p>
                    {{employ.position}}
                </div>

                <div class="pt-4">
                    <p class="font-color-14 mb-0">End Date</p>
                    {{employ.last}}
                </div>
            </div>

            <div class="px-4 font-16 mx-4">
                <div>
                    <p class="font-color-14 mb-0">Department</p>
                    {{ employ.department}}
                </div>
                <div class="pt-4">
                    <p class="font-color-14 mb-0">End Date</p>
                    {{employ.last}}
                </div>
            </div>
            <div class="px-3 font-16 mx-4">
                <div>
                    <p class="font-color-14 mb-0">Reporting Manager</p>
                    {{employ.report}}
                </div>
                <div class="pt-4">
                    <p class="font-color-14 mb-0">Hourly Cost Rate</p>
                    {{employ.rate}}
                </div>
            </div>
        </div>
    </div>
    <h6 class="my-2 font-18 pt-4 ms-3">Employee Reports</h6>
    <div class="row pt-4 ms-2">
        <div class="col border d-flex justify-content-between mx-2 rounded border-height">
            <div>
                <h4>02</h4>
                <p class="font-color-16">Live Projects</p>
            </div>
            <div class="bg-danger my-4 rounded p-3">
                <img src="assets/images/liveproject.png" alt=""  class="img-fluid text-center d-flex" >
            </div>
        </div>
        <div class="col border d-flex justify-content-between mx-2 rounded border-height">
            <div>
                <h4>07</h4>
                <p class="font-color-16">No of Completed Projects</p>
            </div>
            <div class="bg-success my-4 rounded p-3">
                <img src="assets/images/completeproject.png" class="img-fluid text-center d-flex" alt="">
            </div>
        </div>
        <div class="col border d-flex justify-content-between mx-2 rounded border-height">
            <div>
                <h4>200</h4>
                <p class="font-color-16">Total Worked Hours</p>
            </div>
            <div class="bg-info my-4 rounded p-3">
                <img src="assets/images/workedhours.png" alt=""  class="img-fluid text-center d-flex" >
            </div>
        </div>

        <div class="row pt-4">
            <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
                <a><mat-tab label="Current Project">
                        <app-currentproject routerLink="/myproject/projectdetail"></app-currentproject>
                    </mat-tab></a>
                <a><mat-tab label="Timesheet">
                        <app-timesheet></app-timesheet>
                    </mat-tab></a>
            </mat-tab-group>
        </div>
    </div>
    <router-outlet></router-outlet>