<div class="container">
    <h4 class="client">Client Detail
        <nav>
            <a  routerLink="/clientList">ClientList</a>
            <a class="px-2">/Client Details</a>
        </nav>
    </h4>
    <!-- client details label -->
    <div class="client-info">
        <img src="/assets/images/Rectangle 5543.png" alt="Company Logo" class="logo">
        <div class="d-flex">
            <div class="d-flex grid gap-5">
                <div>
                    <div class="">
                        <p>Client Name</p> {{ client.name }}
                    </div>
                    <div class="pt-4">
                        <p>Client ID</p>{{ client.id }}
                    </div>
                </div>
                <div class="px-3">
                    <div>
                        <p>Email ID</p>{{ client.email }}
                    </div>
                    <div class="pt-4">
                        <p>Location</p> {{ client.location }}
                    </div>
                </div>
                <div class="px-2">
                    <div>
                        <p>Onboarding Date</p>
                    </div>
                    <div>{{ client.onboardingDate | date: 'MM/dd/yyyy' }}</div>
                    <div class="pt-4">
                        <p>Account Manager</p>
                    </div>
                    <div> {{ client.accountManager }}
                    </div>
                </div>
                <div class="px-3">
                    <div>
                        <p>Contact Person</p>
                    </div>
                    <div> {{ client.contactPerson }}</div>
                    <div class="pt-4">
                        <p>Address</p>
                    </div>
                    <div>{{ client.address }}
                    </div>
                </div>
                <div>
                    <div>
                        <p>Phone Number</p>
                    </div>
                    <div>{{ client.phoneNumber }}</div>
                </div>
            </div>
        </div>
    </div>
    <!-- client report -->
    <div class="pt-5">
        <strong>Client Reports</strong>
        <nav class="project-font pt-3">
            <a routerLink="/clientList">Current Project</a>
            <a routerLink="#" class="px-2">Current Projects</a>
        </nav>
        <hr>
    </div>
</div>