<div class="container-fluid">
    <div class="row">
        <div class="col-6 bg-primary">
            <img class="banner-img" src="\assets\images\login-background.png">
        </div>
        <div class="col-6">
            <img class="ps-3" src="\assets\images\logo.png">
            <div class="d-flex justify-content-center mt-4">
                <h6 class="mt-4">Welcome Back  !</h6>
            </div>
            <div class="d-flex justify-content-center pt-2">
                <h6>Track Your Working Hours</h6>
            </div>
            <form class="ps-5 pe-5">
                <h5 class="pt-5">Login</h5>
                <div class="mb-3 pt-3">
                    <label for="exampleInputEmail1" class="form-label mb-2">
                        <h6>Email address</h6>
                    </label>
                    <input type="email" class="form-control p-3" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="tushar@builint.com">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label mb-2">
                        <h6>Password</h6>
                    </label>
                    <input type="password" class="form-control p-3" id="exampleInputPassword1" placeholder="**********">
                </div>
                <div class="mb-3 form-check ps-4 d-flex justify-content-between">
                    <div>
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label text-primary" for="exampleCheck1">Remainder</label>
                    </div>
                    <div class="">
                        <a href="#" class="text-primary">Forgot Password?</a>
                    </div>
                </div>
                <div class="d-grid gap-2 mx-auto">
                    <button class="btn btn-primary p-3" type="button">
                        <h6>Login</h6>
                    </button>
                </div>
            </form>
            <div class="d-flex justify-content-end mt-5 me-2">
                <p>Copyright 2023. All rights Reserved</p>
            </div>
        </div>

    </div>
</div>