option {
    color: #878686;
}

.hour-allocation{
    width: 259.96px;
    height: 222px;
    top: 155px;
    left: 245px;
    gap: 0px;
    opacity: 0px;    
}

.header {
    font-family: Inter;
font-size: 28px;
font-weight: 500;
line-height: 33.89px;
text-align: left;
}