<div>
  <div class="d-flex justify-content-between">
    <h1>Dashboard</h1>
    <select class="border-1 border-secondary rounded mx-3 my-2">
      <option selected>Monthly</option>
      <option>Weekly</option>
      <option>Today</option>
    </select>
  </div>
  <div class="hour-allocation">
    <div>
    <h4>Hours Allocation</h4>
    <h1>400Hrs</h1>
    <select class="border-1 border-secondary rounded mx-3 my-2">
      <option class="selected">Weekly</option>
      <option>Today</option>
    </select></div>

  </div>
</div>