<div>
  <div class="d-flex container justify-content-between pt-3">
    <div>
      <h5><strong>Dashboard</strong></h5>
    </div>
    <div>
      <div class="btn-group" role="group">
        <button
          type="button"
          class="btn btn-outline-secondary btn-sm dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false">
          Monthly
        </button>
      </div>
    </div>
  </div>
  <img
    src="/assets/images/dashboard.png"
    alt="dashboard-image"
    class="img-fluid"
  />
</div>
