<div class="main">
    <div class="nav d-flex justify-content-between">
        <div>
            <h4>MY Time Sheet</h4>
        </div>
        <div>
            <select>
                <option>Weekly</option>
                <option>Monthly</option>
                <option>Yearly</option>
            </select>
        </div>
    </div>

    <body>
        <table>
            <tr>
                <th>Project</th>
                <th>Task</th>
                <th>
                    <div>
                        <p>Mon, Jul17</p>
                        <select>
                            <option value="1">1st Shift</option>
                            <option value="2">2nd Shift</option>
                            <option value="3">3rd Shift</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div>
                        <p>Tue, Jul18</p>
                        <select>
                            <option value="1">2nd Shift</option>
                            <option value="2">1st Shift</option>
                            <option value="3">3rd Shift</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div>
                        <p>Wed, Jul19</p>
                        <select>
                            <option value="1">3rd Shift</option>
                            <option value="2">2nd Shift</option>
                            <option value="3">1st Shift</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div>
                        <p>Thu, Jul20</p>
                        <select>
                            <option value="1">1st Shift</option>
                            <option value="2">2nd Shift</option>
                            <option value="3">3rd Shift</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div>
                        <p>Fri, Jul21</p>
                        <select>
                            <option value="1">General</option>
                            <option value="2">General</option>
                            <option value="3">General</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div>
                        <p>Sat, Jul22</p>
                        <select>
                            <option value="1">3rd Shift</option>
                            <option value="2">2nd Shift</option>
                            <option value="3">1st Shift</option>
                        </select>
                    </div>
                </th>
                <th>
                    <div>
                        <p>Sun, Jul23</p>
                        <select>
                            <option value="1">3rd Shift</option>
                            <option value="2">2nd Shift</option>
                            <option value="3">1st Shift</option>
                        </select>
                    </div>
                </th>
                <th>Total</th>
            </tr>
            <tr>
                <td>SMRT</td>
                <td>
                    <select>
                        <option value="1">Design</option>
                        <option value="2">2nd Shift</option>
                        <option value="3">1st Shift</option>
                    </select>
                </td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td>3.00 </td>
                <td><i class="bi bi-trash"></i></td>
            </tr>
            <tr>
                <td>BUILDNT</td>
                <td>
                    <select>
                        <option value="1">Design</option>
                        <option value="2">2nd Shift</option>
                        <option value="3">1st Shift</option>
                    </select>
                </td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td>0.00</td>
                <td><i class="bi bi-trash"></i></td>
            </tr>
            <tr>
                <td>HITACHI</td>
                <td>
                    <select>
                        <option value="1">Design</option>
                        <option value="2">2nd Shift</option>
                        <option value="3">1st Shift</option>
                    </select>
                </td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td><input></td>
                <td>0.00</td>
                <td><i class="bi bi-trash"></i></td>
            </tr>
            <tr></tr>
        </table>
    </body>
</div>