<nav class="col-12 bg-info d-flex justify-content-between pt-3">
  <div class="d-flex">
    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">  <i class="bi bi-list fs-3 ps-3"></i></button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <!-- <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5> -->
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
  <app-sidebar></app-sidebar>
  </div>
</div>
  
    <i class="bi bi-search fs-3 ps-3 mt-2"></i>
  </div>
 <div class="d-flex">
  <i class="bi bi-bell fs-3"></i>
  <p class="pt-1 ps-3">Tushar B</p>
  <img class="px-3 mb-2" src="\assets\images\profile-img.png">
  <select></select>
</div>
</nav>

