<div class="container pt-3">
  <div class="d-flex justify-content-between">
    <div>
      <h4 class="client pt-4">Create Client</h4>
      <nav>
        <a routerLink="/clientList">ClientList</a>
        <a class="px-2">/Create Client</a>
      </nav>
    </div>
  </div>
  <div>
    <!-- upload file -->
    <div class="mb-3 pt-3 font-14">
      <label for="formFileMultiple" class="form-label">Logo</label>
      <div class="d-flex">
        <input
          type="file"
          class="custom-file-input"
          id="formFileMultiple"
          #fileInput
          (change)="onFileSelected($event)"
          multiple
          style="display: none"
        />
        <button
          type="button"
          class="btn fs-5 upload-button btn-outline-secondary"
          (click)="fileInput.click()"
        >
          Upload Logo <i class="bi bi-upload ps-5 ms-5"></i>
        </button>
        <span class="file-names mt-2" *ngIf="selectedFiles">{{
          selectedFiles
        }}</span>
      </div>
    </div>
    <!-- client details -->
    <div class="row pt-2 font-14">
      <div class="mb-3 col-3">
        <label for="company-name" class="form-label">Company name</label>
        <input
          type="text"
          class="form-control"
          id="company-name"
          placeholder="xyz"
        />
      </div>
      <div class="mb-3 col-3">
        <label for="location" class="form-label">Locatoion</label>
        <input
          type="text"
          class="form-control"
          id="location"
          placeholder="xyz"
        />
      </div>
      <div class="mb-3 col-3">
        <label for="email" class="form-label">Account Manager</label>
        <input
          type="email"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="name@example.com"
        />
      </div>
      <div class="mb-3 col-3">
        <label for="web-address" class="form-label">Web Address</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="xyz.com"
        />
      </div>
      <div class="mb-3 col">
        <div class="d-flex justify-content-between">
          <label for="Address" class="form-label">Address</label>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckChecked"
              checked
            />
            <label class="form-check-label" for="flexCheckChecked">
              Same Address For Billing Address
            </label>
          </div>
        </div>
        <input
          type="text"
          class="form-control"
          id="location"
          placeholder="No-12, Raja st,Chengam"
        />
      </div>
      <div class="mb-3 col">
        <label for="billing-adress" class="form-label">Billing adress</label>
        <input
          type="text"
          class="form-control"
          id="location"
          placeholder="xyz"
        />
      </div>
    </div>
    <!-- create contact details -->
    <div class=" pt-2">
      <p class="font-18">Contact details</p>
      <div class="row ">
        <div class="mb-3 col">
          <label for="contact-person" class="form-label">Contact Person</label>
          <input
            type="text"
            class="form-control"
            id="contact-person"
            [(ngModel)]="newContactPerson"
          />
        </div>
        <div class="mb-3 col">
          <label for="Position" class="form-label">Position</label>
          <input
            type="text"
            class="form-control"
            id="Position"
            [(ngModel)]="newPosition"
          />
        </div>
        <div class="mb-3 col">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input
            type="tel"
            class="form-control"
            id="phoneNumber"
            [(ngModel)]="newPhoneNumber"
          />
        </div>
        <div class="mb-3 col">
          <label for="contactEmail" class="form-label">Email Id</label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="newEmail"
            id="contactEmail"
          />
        </div>
        <div class="col align-items-center justify-content-end d-flex">
          <button type="button" class="btn add-button" (click)="addContact()">
            <i class="bi bi-plus"></i>
            {{ editingIndex !== null ? "Update" : "Add" }}
          </button>
        </div>
      </div>
    </div>
    <!-- contact details -->
       <div class="detail mt-4 p-2">
      <div class="row d-flex text-center" *ngFor="let contact of contacts; let i = index">
        <div class="col m-auto mx-2">
          <h4>Contact Person</h4>
          <h5>{{ contact.contactPerson }}</h5>
        </div>
        <div class="col m-auto">
          <h4>Phone Number</h4>
          <h5>{{ contact.position }}</h5>
        </div>
        <div class="col m-auto">
          <h4>Phone Number</h4>
          <h5>{{ contact.phoneNumber }}</h5>
        </div>
        <div class="col m-auto">
          <h4>Email Id</h4>
          <h5>{{ contact.email }}</h5>
        </div>
        <div class="col m-auto"> <button
              class="btn btn-outreline-primary me-4 btn-sm"
              (click)="editContact(i)"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-outreline-danger btn-sm"
              (click)="deleteContact(i)"
            >
              <i class="bi bi-trash"></i>
            </button></div>
      </div>
    </div>
  </div>
  <div class="sumit-btn">
    <button type="button" routerLink="/clientList" class="btn btn-primary btn-lg">Create client</button>
  </div>
</div>
