a {
  text-decoration: none;
  color: #1c1b1f;
}

.upload-button:hover {
  background-color: unset;
  color: unset;
}

.bg-secondary {
  background-color: #f4f4f4 !important;
}

.add-button {
  background-color: #ff8000;
  color: #f4f4f4;
}

.sumit-btn {
  position: absolute;
  bottom: 10px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 16px;
}

.client {
  font-size: 28px;
  color: black;
  font-weight: 500;
}
.clientlist-clr{
   font-size: 14px;
  color: #1C1B1F;
  font-weight: 400;
  line-height: 17.57px;
}
h4 {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.57px;
  text-align: left;
  color: #707070;
}

th,
td {
  background: #f4f4f4;
}

.approval {
  font-family: Mulish;
  font-size: 18px;
  font-weight: 600;
  line-height: 22.59px;
  text-align: left;
}

.approval-text {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-align: left;
}

.approvel {
  font-family: Mulish;
  font-size: 24px;
  font-weight: 600;
  line-height: 18px;
  text-align: center;
}

.poppara {
  font-family: Mulish;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: left;
}

.pophead {
  font-family: Mulish;
  font-size: 24px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.25px;
  text-align: center;
}

h5 {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.57px;
  text-align: left;
}
.button-clr {
  background-color: unset;
  color: #344054;
}
.button-clr:hover {
  background-color: unset;
  color: #344054;
}
.detail {
  background-color: #f3f3f3;
  border-radius: 5px;
}

.remove {
  width: 675px;
  height: 268px;
  padding: 42px 20px 30px 25px;
  border-radius: 12px 0px 0px 0px;
  opacity: 0px;
}
.remove-title {
  font-family: Mulish;
font-size: 24px;
font-weight: 500;
line-height: 20px;
letter-spacing: 0.25px;
text-align: center;
}

.remove-content {
  font-family: Mulish;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0.25px;
text-align: left;

}
/* .modal-content{
  width: 400px;
  height: 400px;
  background-color: red;
} */