a {
  text-decoration: none;
  color: #1c1b1f;
}
.upload-button:hover {
  background-color: unset;
  color: unset;
}
.bg-secondary {
  background-color: #f4f4f4 !important;
}
.add-button {
  background-color: #ff8000;
  color: #f4f4f4;
}
.sumit-btn {
  position: fixed absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 16px;
}

table {
  margin: 30px auto;
}

th,td {
  background: #f4f4f4;
}