a{
    text-decoration: none;
    color: #1C1B1F;
}
.upload-button:hover{
background-color: unset;
    color: unset;
}
.bg-secondary{
    background-color: #F4F4F4 !important;
}
.add-button{
    background-color: #FF8000;
    color: #F4F4F4;
}
.sumit-btn{
     position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 16px;
}
.client{
    font-size: 28px;
    font-weight: 500;
}
/* table {
    font-size: 12px;
    line-height: 24px;
    margin: 30px auto;
    text-align: left;
    width: 100%;
} */

/* th {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    background: #F4F4F4;
    border-bottom: 1px solid #c4c4c4;
    color: #7B7B7B;
} */

.font-control {
    font-size: 14px;
}

.card-font {
    font-size: 16px;
}

.card-color {
background-color:#F4F4F4;
border: 1px solid #D9D9D957
}
