a {
  text-decoration: none;
  color: #1c1b1f;
}
.upload-button:hover {
  background-color: unset;
  color: unset;
}
.bg-secondary {
  background-color: #f4f4f4 !important;
}
.add-button {
  background-color: #ff8000;
  color: #f4f4f4;
}
.sumit-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 16px;
}
.client {
  font-size: 28px;
  font-weight: 500;
  color: black;
}
h4 {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 500;
  line-height: 17.57px;
  text-align: left;
  color: #707070;
}

h5 {
  font-family: Mulish;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.57px;
  text-align: left;
}
.detail {
  background-color: #f3f3f3;
  border-radius: 5px;
}
