/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.font-18{
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
    border-radius: 5px; 
}
.font-16{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
}
.font-14{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.font-color-16{
      font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #878686 !important;
}
.font-color-14{
    font-size: 14px !important;
    font-weight: 500 !important;
    color: #7B7B7B !important;
}
