* {
    font-family: inter;
}

.wrapper {
    width: 40%;
}

.list-inline-item.active {
    border-bottom: 1px solid #004CFF;
}

.add {
    position: fixed;
    bottom: 20px;
    right: 10px;
    .btn-primary {
        background-color: #004CFF;
        color: #fff;
      }
}

.header {
    font-family: Inter;
    font-size: 28px;
    font-weight: 500;
    line-height: 33.89px;
    text-align: left;
}