<div class="container my-2 ms-2">
    <div class="row">
        <h4 class="pt-2 mb-0">Create Project</h4>
        <p class="font-control mt-0 mb-3" routerLink="/myproject">My Projects/Create Project</p>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Select Client</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Select Client</option>
                    <option value="1">SMRT</option>
                    <option value="2">Hitachi</option>
                    <option value="3">TATA</option>
                    <option value="3">BuildINT</option>
                </select>
            </div>
            <div>
                <label for="exampleFormControlInput1" class="form-label">Project Type</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Billable</option>
                    <option value="1">Non-Billable</option>
                    <option value="2">Admin</option>
                    <option value="3">Training</option>
                    <option value="4" class="text-primary">+ Add New Project</option>
                </select>
            </div>
        </div>
        <div class="col-3">
            <div class="mb-3">
                <div>
                    <label for="exampleFormControlInput1" class="form-label">Status</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1"
                        placeholder="Set Project Name">
                </div>
                <div>
                    <label for="joining" class="form-label mt-2">Start Date</label>
                    <div class="input-group bg-white border rounded">
                        <input matInput [matDatepicker]="picker" placeholder="12/07/2023" id="joining"
                            class="form-control border-0">
                        <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div>
                <label for="exampleFormControlInput1" class="form-label">Project Name</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Active</option>
                    <option value="1">Inactive</option>
                    <option value="1">Hold</option>
                </select>
            </div>
            <div>
                <label for="joining" class="form-label mt-2">End Date</label>
                <div class="input-group bg-white border rounded">
                    <input matInput [matDatepicker]="pickers" placeholder="12/07/2023" id="joining"
                        class="form-control border-0">
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="pickers"></mat-datepicker-toggle>
                    <mat-datepicker #pickers></mat-datepicker>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="mb-2">
                <label for="exampleFormControlInput1" class="form-label">Select Project Manager</label>
                <select class="form-select" aria-label="Default select example">
                    <option selected>Tushar B</option>
                    <option value="1">Arun</option>
                    <option value="2">Raj kumar</option>
                    <option value="3">Suprith Kumar</option>
                </select>
            </div>
            <div>
                <label for="exampleFormControlInput1" class="form-label">Total Hours</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="00:00 Hrs">
            </div>
        </div>
    </div>
    <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
        <mat-tab label="Create Task">
            <app-createtask></app-createtask>
        </mat-tab>
        <mat-tab label="Assign Teams">
            <app-assign-teams></app-assign-teams>
        </mat-tab>
    </mat-tab-group>
    <div class="add">
        <button type="button" class="btn btn-primary" data-bs-target="#exampleModal1" data-bs-toggle="modal">Create
            Project</button>
        <div class="modal fade " id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-dialog-centered">
                <div class="modal-content container p-3">
                    <img src="assets/images/approval.png" alt="" class="approval mx-auto my-4">
                    <h1 class="approval-text mx-auto my-3">Project created successfully</h1>
                    <button type="button" class="btn btn-primary mx-auto my-2" aria-label="Close"
                        data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>