<div class="row">
    <div class="col-3 shadow sidebar">
        <div class="mx-5 mb-5 mt-3">
        <img src="assets/images/logo.png" alt="">
        </div>
        <div class="list-group">
            <a class="list-group-item list-group-item-action active w-75 mx-auto my-2 border-0 rounded p-2">
                <i class="bi bi-grid"></i>
                Dashboard
            </a>
            <a class="list-group-item list-group-item-action w-75 mx-auto my-2 border-0 rounded p-2">
                My Clients
            </a>
            <a class="list-group-item list-group-item-action w-75 mx-auto my-2 border-0 rounded p-2">
                My Projects
            </a>
            <a class="list-group-item list-group-item-action w-75 mx-auto my-2 border-0 rounded p-2">
                My Employees
            </a>
            <a class="list-group-item list-group-item-action w-75 mx-auto my-2 border-0 rounded p-2">
                MyTimesheet
            </a>
            <a class="list-group-item list-group-item-action w-75 mx-auto my-2 border-0 rounded p-2">
                Approval
            </a>
            <a class="list-group-item list-group-item-action w-75 mx-auto my-2 border-0 rounded p-2">
                Reports
            </a>
         <div class="col-8">
            <router-outlet></router-outlet>
         </div>
        </div>
    </div>
    <h1>sidebar works</h1>