<div class="container">
    <div class="row">
        <div class="col-lg-4 d-lg-inline col-md-4 d-md-block col-12 d-block pt-5">
            <div class="card" style="width: 21rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="fs-lg-3 mb-2">Project 1</h6>
                            <div>
                                <p class="text-secondary mb-1">Project name</p>
                                <strong class="fs-lg-5">SMRT</strong>
                            </div>
                            <div class="pt-2">
                                <h5 class="card-font">Start: July/18/23</h5>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-end pt-1">
                                <span class="badge badge-green pt-2 px-3 mb-3">Billable</span>
                            </div>
                            <p class="text-secondary mb-0">Project Manager</p>
                            <strong class="fs-lg-5">Tushar</strong>
                            <div class="pt-2">
                                <h5 class="card-font">End: July/27/23</h5>
                            </div>
                        </div>
                        <div class="pt-3 progress-bar">
                            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 45%"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pt-3">
                                <p class="text-secondary">Progress</p>
                            </div>
                            <div class="col-6 d-flex justify-content-end pt-3">
                                <p class="text-secondary">45%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 d-lg-inline col-md-4 d-md-block col-12 d-block pt-5">
            <div class="card" style="width: 21rem;">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h6 class="fs-lg-3 mb-3">Project 2</h6>
                            <p class="text-secondary mb-0">Project name</p>
                            <strong class="fs-lg-5 pt-1">SMRT</strong>
                            <div class="pt-2">
                            <h6 class="card-font">Start: July/29/23</h6>
                        </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex justify-content-end pt-1">
                                <span class="badge badge-danger py-2 px-2 mb-3">Non Billable</span>
                            </div>
                            <p class="text-secondary mb-0">Project Manager</p>
                            <strong class="fs-lg-5 pt-1">Tushar</strong>
                            <div class="pt-2">
                            <h6 class="card-font">End: Aug/10/23</h6>
                        </div>
                        </div>
                        <div class="pt-3 progress-bar">
                            <div class="progress" role="progressbar" aria-label="Basic example" aria-valuenow="100"
                                aria-valuemin="0" aria-valuemax="100">
                                <div class="progress-bar" style="width: 70%"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 pt-3">
                                <p class="text-secondary">Progress</p>
                            </div>
                            <div class="col-6 d-flex justify-content-end pt-3">
                                <p class="text-secondary">70%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 d-lg-inline col-md-4 d-md-inline col-12 d-none"></div>
</div>
<router-outlet></router-outlet>