<div class="m-2 mt-4">
  <div class="row m-2">
    <div class="d-flex justify-content-between">
      <div>
        <h5>My Clients List</h5>
      </div>
      <!-- search tab -->
         <nav class="navbar navbar-light">
      <form class="form-inline">
        <div class="search-box">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <i class="bi bi-search"></i>
        </div>
      </form>
    </nav>
    </div>
    <table class="font-18">
    <thead >
        <tr >
          <th class="font-18 p-3">Client ID</th>
          <th class="font-18 p-3">Client Name</th>
          <th class="font-18 p-3">Email ID</th>
          <th class="font-18 p-3">No. of Projects</th>
          <th class="font-18 p-3">Onboard Date</th>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor="let client of clients" [routerLink]="['./', client.path]">
          <td class="p-3">{{ client.id }}</td>
          <td>{{ client.clientName }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.project }}</td>
          <td>{{ client.onboardDate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="create-button">
    <a class="btn btn-primary fw-bold" routerLink="/create-client" role="button"
      ><i class="bi bi-plus-lg fs-5"></i></a
    >
  </div>
</div>
<router-outlet></router-outlet>
