.wrapper {
    width: 20%;
}

.add {
    position: fixed;
    bottom: 50px;
    right: 10px;
} 
td,th{
    padding-top: 20px;
}

.table-secondary {
    background: #F4F4F4;
}

th{
   color: #7B7B7B;
}