.wrapper {
    width: 20%;
}

.add {
    position: fixed;
    bottom: 50px;
    right: 10px;
}

td,
th {
    padding-top: 20px;
}

.table-secondary {
    background: #F4F4F4;
}

h3 {
    font-size: 28px;
    font-weight: 500;
}

th {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 10px 15px;
    background: #F4F4F4;
    border-bottom: 1px solid #c4c4c4;
    color: #7B7B7B;
}

.btn-primary{
    background-color: #004CFF;
}