<div class="container">
    <div class="row mt-5 ms-1">
        <div class="card" style="width: 21rem;">
            <div class="card-body">
                <h6>SMRT</h6>
                <p class="text-secondary">Yet to process ...</p>
                <div class="row">
                    <div class="col-6">
                        <strong class="card-font">Start Date:July 18</strong>
                    </div>
                    <div class="col-6">
                        <strong class="card-font">End Date:July 18</strong>
                    </div>
                </div>
                <div class="progress mt-3" role="progressbar" aria-label="Basic example" aria-valuenow="0"
                    aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar" style="width: 0%"></div>
                </div>
                <div class="pt-3">
                        <p class="text-secondary">progress</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add">
    <a class="btn btn-primary fw-bold" routerLink="createemploy" role="button">+</a>
  </div>
  <router-outlet></router-outlet>