<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button bg-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                >
                <div class="text-center d-flex">
                    <div style="width:400px;">
                        <h4 class="topic">
                            UI / UX
                        </h4>
                        <h5 class="subtopic">
                            Web Design
                        </h5>
                    </div>

                    <div>
                        <h4 class="topic mx-5">
                            40 hrs
                        </h4>
                        <h5 class="subtopic mx-5">
                            No.of Hours For This Task
                        </h5>
                    </div>


                    <div class="">
                        <h4 class="topic mx-5">
                            12-07-2023
                        </h4>
                        <h5 class="subtopic mx-5">
                            Start Date
                        </h5>
                    </div>
                    <div>
                        <h4 class="topic">
                            20-07-2023
                        </h4>
                        <h5 class="subtopic">
                            Completion Date
                        </h5>
                    </div>
                </div>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                <tr class="d-flex justify-content-between table-droupdown">
                    <td class="topic w-25  px-2">
                        Arun ram
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-between">
                            <p>Allocate hrs 40</p>
                            <p>Utilise hrs 20</p>
                        </div>
                        <div class="progress bg-primary" role="progressbar" aria-label="Basic example"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%"></div>
                        </div>
                    </td>
                </tr>
                <tr class="d-flex justify-content-between table-droupdown">
                    <td class="topic w-25  px-2">
                        Arun ram
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-between">
                            <p>Allocate hrs 40</p>
                            <p>Utilise hrs 20</p>
                        </div>
                        <div class="progress bg-primary" role="progressbar" aria-label="Basic example"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%"></div>
                        </div>
                    </td>
                </tr>
                <tr class="d-flex justify-content-between table-droupdown">
                    <td class="topic w-25  px-2">
                        Arun ram
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-between">
                            <p>Allocate hrs 40</p>
                            <p>Utilise hrs 20</p>
                        </div>
                        <div class="progress bg-primary" role="progressbar" aria-label="Basic example"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%"></div>
                        </div>
                    </td>
                </tr>
                <tr class="d-flex justify-content-between table-droupdown">
                    <td class="topic w-25  px-2">
                        Arun ram
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-between">
                            <p>Allocate hrs 40</p>
                            <p>Utilise hrs 20</p>
                        </div>
                        <div class="progress bg-primary" role="progressbar" aria-label="Basic example"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%"></div>
                        </div>
                    </td>
                </tr>
            </div>
        </div>
    </div>
    <div class="accordion-item mt-4">
        <h2 class="accordion-header border-top">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                aria-controls="panelsStayOpen-collapseTwo">
                <tr class="">
                    <td style="width:400px;">
                        <h4 class="topic">
                            UI / UX
                        </h4>
                        <h5 class="subtopic">
                            Web Design
                        </h5>
                    </td>

                    <td>
                        <h4 class="topic mx-5">
                            40 hrs
                        </h4>
                        <h5 class="subtopic mx-5">
                            No.of Hours For This Task
                        </h5>
                    </td>


                    <td class="">
                        <h4 class="topic mx-5">
                            12-07-2023
                        </h4>
                        <h5 class="subtopic mx-5">
                            Start Date
                        </h5>
                    </td>
                    <td>
                        <h4 class="topic">
                            20-07-2023
                        </h4>
                        <h5 class="subtopic">
                            Completion Date
                        </h5>
                    </td>
                </tr>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
            <div class="accordion-body">
                <tr class="d-flex justify-content-between table-droupdown">
                    <td class="topic w-25  px-2">
                        Arun ram
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-between">
                            <p>Allocate hrs 40</p>
                            <p>Utilise hrs 20</p>
                        </div>
                        <div class="progress bg-primary" role="progressbar" aria-label="Basic example"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%"></div>
                        </div>
                    </td>
                </tr>
                <tr class="d-flex justify-content-between table-droupdown">
                    <td class="topic w-25  px-2">
                        Arun ram
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-between">
                            <p>Allocate hrs 40</p>
                            <p>Utilise hrs 20</p>
                        </div>
                        <div class="progress bg-primary" role="progressbar" aria-label="Basic example"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%"></div>
                        </div>
                    </td>
                </tr>
                <tr class="d-flex justify-content-between table-droupdown">
                    <td class="topic w-25  px-2">
                        Arun ram
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-between">
                            <p>Allocate hrs 40</p>
                            <p>Utilise hrs 20</p>
                        </div>
                        <div class="progress bg-primary" role="progressbar" aria-label="Basic example"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%"></div>
                        </div>
                    </td>
                </tr>
                <tr class="d-flex justify-content-between table-droupdown">
                    <td class="topic w-25  px-2">
                        Arun ram
                    </td>
                    <td class="">
                        <div class="d-flex justify-content-between">
                            <p>Allocate hrs 40</p>
                            <p>Utilise hrs 20</p>
                        </div>
                        <div class="progress bg-primary" role="progressbar" aria-label="Basic example"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar" style="width: 45%"></div>
                        </div>
                    </td>
                </tr>
            </div>
        </div>
    </div>
</div>