<table class="table ">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr class="border">
        <td style="width: 350px;">
            <h4 class="topic">
                UI / UX
            </h4>
            <h5 class="subtopic">
                Web Design
            </h5>
        </td>

        <td>
            <h4 class="topic">
                40 hrs
            </h4>
            <h5 class="subtopic">
                No.of Hours For This Task
            </h5>
        </td>
        <td>
            <h4 class="topic">
                12-07-2023
            </h4>
            <h5 class="subtopic">
                Start Date
            </h5>
        </td>
        <td>
            <h4 class="topic">
                20-07-2023
            </h4>
            <h5 class="subtopic">
                Completion Date
            </h5>
        </td>
        <td class="text-center">
            <i class="bi bi-chevron-up fw-bold"></i>
        </td>
    </tr>
    <tr class="border p-4">
        <td class="topic w-25 px-2">
            Arun ram
        </td>
        <td>
        </td>
        <td></td>
        <td></td>
        <td class="">
            <div class="d-flex justify-content-between">
                <p>Allocate hrs 40</p>
                <p>Utilise hrs 20</p>
            </div>
            <div class="progress bg-primary" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 45%"></div>
            </div>
        </td>
    </tr>
    <tr class="border">
        <td class="topic w-25  px-2">
            Arun ram
        </td>
        <td>
        </td>
        <td></td>
        <td></td>
        <td class="">
            <div class="d-flex justify-content-between">
                <p>Allocate hrs 40</p>
                <p>Utilise hrs 20</p>
            </div>
            <div class="progress bg-primary" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 45%"></div>
            </div>
        </td>
    </tr>
    <tr class="border">
        <td class="topic w-25  px-2">
            Arun ram
        </td>
        <td>
        </td>
        <td></td>
        <td></td>
        <td class="">
            <div class="d-flex justify-content-between">
                <p>Allocate hrs 40</p>
                <p>Utilise hrs 20</p>
            </div>
            <div class="progress bg-primary" role="progressbar" aria-label="Basic example" aria-valuenow="25" aria-valuemin="0"
                aria-valuemax="100">
                <div class="progress-bar" style="width: 45%"></div>
            </div>
        </td>
    </tr>
    <tr class="border">
        <td style="width: 350px;">
            <h4 class="topic">
                UI / UX
            </h4>
            <h5 class="subtopic">
                Web Design
            </h5>
        </td>

        <td>
            <h4 class="topic">
                40 hrs
            </h4>
            <h5 class="subtopic">
                No.of Hours For This Task
            </h5>
        </td>
        <td>
            <h4 class="topic">
                12-07-2023
            </h4>
            <h5 class="subtopic">
                Start Date
            </h5>
        </td>
        <td>
            <h4 class="topic">
                20-07-2023
            </h4>
            <h5 class="subtopic">
                Completion Date
            </h5>
        </td>
        <td class="text-center">
            <i class="bi bi-chevron-down fw-bold"></i>
        </td>
    </tr>
</table>