<div class="container">
  <div class="d-flex justify-content-between my-3  ms-2">
    <div class=" col-md-4 ">
      <h3 class="mb-0">Create Employee</h3>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-decoration-none  text-secondary" href="./employ">Employee List</a></li>
          <li class="breadcrumb-item active text-black" aria-current="page">Create Employee</li>
        </ol>
          </nav>
    </div>
    <div class="wrapper col-md-3">
      <div class="input-group bg-white border rounded ">
        <input class="form-control border-0" type="text" placeholder="search" id="example-search-input">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary bg-white border-0 rounded-pill ms-n3" type="button">
            <i class="bi bi-search"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <form class="ms-2">
    <div class="row mt-1">
      <div class="col">
        <label for="firstname" class="detail-font my-2">Firstname</label>
        <input type="text" class="form-control" aria-label="First name" id="firstname">
      </div>
      <div class="col">
        <label for="lastname" class="detail-font my-2">Lastname</label>
        <input type="text" class="form-control" aria-label="First name" id="lastname">
      </div>
      <div class="col ">
        <label for="inputState" class="form-label mt-2">Designation</label>
        <select id="inputState" class="form-select">
          <option selected>Employee</option>
          <option>Manager</option>
        </select>
      </div>
      <div class="col">
        <label for="employeeid" class="detail-font my-2">Employee ID</label>
        <input type="text" class="form-control" aria-label="First name" id="employeeid">
      </div>
    </div>
    <div class="row pt-4">
      <div class="col">
        <label for="email" class="detail-font my-2">Email ID</label>
        <input type="email" class="form-control" aria-label="First name" id="email">
      </div>
      <div class="col">
        <label for="phone" class="detail-font my-2">Mobile Number</label>
        <input type="text" class="form-control" aria-label="First name" id="phone">
      </div>
      <div class="col">
        <label for="rate" class="detail-font my-2">Hourly Cost Rate</label>
        <input type="text" class="form-control" aria-label="First name" id="rate">
      </div>
      <div class="col">
        <label for="location" class="detail-font my-2">Location</label>
        <input type="text" class="form-control" aria-label="First name" id="location">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col">
        <label for="inputState" class="form-label mt-2">Reporting Manager</label>
        <select id="inputState" class="form-select">
          <option selected>Arun</option>
          <option>Raj kumar</option>
          <option>Suprith Kumar</option>
        </select>
      </div>
      <div class="col">
        <label for="joining" class="form-label mt-2">joining</label>
        <div class="input-group bg-white border rounded">
          <input matInput [matDatepicker]="picker" placeholder="00/00/2023" id="joining" class="form-control border-0">
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
      <div class="col">
        <label for="last" class="form-label mt-2">last</label>
        <div class="input-group bg-white border rounded">
          <input matInput [matDatepicker]="picker1" placeholder="00/00/2023" id="last" class="form-control border-0">
          <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </div>
      </div>
      <div class="col">
        <label for="inputState" class="form-label mt-2">Status</label>
        <select id="inputState" class="form-select">
          <option selected>Active</option>
          <option>Inaction</option>
        </select>
      </div>
    </div>
    <div class="mb-3 mt-4">
      <label for="formFileMultiple" class="form-label">Logo</label>
      <div class="d-flex">
        <input type="file" class="custom-file-input" id="formFileMultiple" #fileInput (change)="onFileSelected($event)"
          multiple style="display: none" />
        <button type="button" class="btn fs-6 upload-button border" (click)="fileInput.click()">
          Upload Logo <i class="bi bi-upload ps-5 ms-5"></i>
        </button>
        <span class="file-names mt-2" *ngIf="selectedFiles">{{
          selectedFiles
          }}</span>
      </div>
    </div>
  </form>
  <div>
    <div class="add">
      <button type="button" class="btn btn-primary" data-bs-target="#exampleModal2" data-bs-toggle="modal">Create
        Employee</button>

    </div>
  </div>
</div>

<div class="modal fade " id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog modal-dialog-centered">
    <div class="modal-content container p-3">
      <img src="assets/images/approval.png" alt="" class="approval mx-auto my-4">
      <h3 class="poptopic text-center my-2">
        Emp ID - U 123456
      </h3>
      <h1 class="approval-text mx-auto my-3 text-center my-2">Employee Created Successfully</h1>
      <p class="text-center my-2">"The employee ID and password have been sent to the user's email ID."</p>
      <button type="button" class="btn btn-primary mx-auto my-2" aria-label="Close" data-bs-dismiss="modal">OK</button>
    </div>
  </div>
</div>