
.client-logo {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 20px;
    width: 280px;
    height: 93px;
    padding: 30px 92px 20px 40px;
    border-radius: 4px 0px 0px 0px;
    border: 0.5px 0px 0px 0px;

}

.logo-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 250px;
    border: 0.5px solid #50596C;
    padding: 10px;
}

.file {
    display: none;
}

.textupload {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    color: #666666;
}

.add {
    position: fixed;
    bottom: 50px;
    right: 10px;
}
h3{
    font-size: 28px;
    font-weight: 500;
}