<table class="table">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tr>
        <td style="width: 350px;">
            <h4 class="topic">
                UI / UX
            </h4>
            <h5 class="subtopic">
                Web Design
            </h5>
        </td>

        <td>
            <h4 class="topic">
                40 hrs
            </h4>
            <h5 class="subtopic">
                No.of Hours For This Task
            </h5>
        </td>
        <td>
            <h4 class="topic">
                12-07-2023
            </h4>
            <h5 class="subtopic">
                Start Date
            </h5>
        </td>
        <td>
            <h4 class="topic">
                20-07-2023
            </h4>
            <h5 class="subtopic">
                Completion Date
            </h5>
        </td>
        <td>
            <i class="bi bi-pencil"></i>
            <i class="bi bi-trash"></i>
        </td>
    </tr>
    <tr>
        <td style="width: 350px;">
            <h4 class="topic">
                UI / UX
            </h4>
            <h5 class="subtopic">
                Web Design
            </h5>
        </td>

        <td>
            <h4 class="topic">
                40 hrs
            </h4>
            <h5 class="subtopic">
                No.of Hours For This Task
            </h5>
        </td>
        <td>
            <h4 class="topic">
                12-07-2023
            </h4>
            <h5 class="subtopic">
                Start Date
            </h5>
        </td>
        <td>
            <h4 class="topic">
                20-07-2023
            </h4>
            <h5 class="subtopic">
                Completion Date
            </h5>
        </td>
        <td>
            <i class="bi bi-pencil"></i>
            <i class="bi bi-trash"></i>
        </td>
    </tr>
</table>